<!DOCTYPE html>
<html lang="en-us" class="no-js">

  {% include head.html %}

  <body>
  <!-- INSERT NEW MENU HERE LATER
    <a class="btn btn-default" href="#" role="button">Link</a>
    <button class="btn btn-default" type="submit">Button</button>
    <input class="btn btn-default" type="button" value="Input">
    <input class="btn btn-default" type="submit" value="Submit">
  -->
    {% if page.url != '/index.html' %}
      <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
      {% include sidebar-nav.html %}
      {% include menu.html %}
    {% endif %}

    {{ content }}

    {% if page.url != '/index.html' %}
      {% include sidebar-toggle.html %}
    {% endif %}

    {% if page.url == '/index.html' %}
      {% include subscribe.html %}
      {% include footer.html %}
    {% endif %}

    {% include footer-scripts.html %}
  </body>
</html>
